@import "../../styles/variable";
.section-sider {
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  h2 {
    padding: 10px 0;
    font-size: 18px;
    color: #333;
    border-bottom: #eee 1px solid;
    margin: 0;
    position: relative;
    &:after {
      content: ' ';
      position: absolute;
      left: -15px;
      top: 15px;
      width: 4px;
      height: 20px;
      background: $primary-color;
    }
  }
  .section-list {
    a {
      display: block;
      height: 36px;
      line-height: 36px;
      vertical-align: middle;
      border-bottom: #eee 1px dotted;
      text-decoration: none;
      color: #333;
      .content {
        display: inline-block;
        font-size: 12px;
        max-width: 220px;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
      }
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        text-decoration: underline;
      }
      i {
        text-decoration: none;
        font-style: normal;
        text-align: center;
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        vertical-align: middle;
        border-radius: 4px;
        background: #d1d1d1;
        color: #fff;
        font-size: 12px;
        margin-right: 5px;
      }
      .rank-0 {
        background: rgba(255, 0, 0, .9)
      }
      .rank-1 {
        background: rgba(255, 0, 0, .5)
      }
      .rank-2 {
        background: rgba(255, 155, 0, 1)
      }
      .right {
        float: right;
        color: #ccc;
        font-size: 12px;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .section-sider {
    width: 100%;
  }
}