.comment-item {
  border: #eee 1px solid;
  border-radius: 4px;
  border-bottom: #ccc 1px dashed;
  padding: 10px;
  margin: 0 10px;
  h3 {
    text-align: left;
    font-size: 14px;
    color: #333;
    font-weight: 600;
    padding: 5px 0;
    margin: 0;
  }
  p {
    margin: 3px 10px;
    &::after {
      
    }
  }
  &-date {
    text-align: right;
    font-size: 12px;
    color: #999;
    margin-right: 10px;
  }
}