@import "../../styles/variable";
.blog-item {
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 15px;
  h2 {
    margin: 0;
    padding: 0;
    height: 48px;
    line-height: 48px;
    border-bottom: #ddd 1px dotted;
    overflow: hidden;
    text-emphasis: ellipsis;
    white-space: nowrap;
    a {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
  }
  .blog-item-content {
    padding: 10px 0;
    border-bottom: #eee 1px dotted;
    min-height: 65px;
  }
  .blog-item-footer {
    .blog-section {
      list-style: none;
      padding: 0;
      margin: 0;
      display: inline-block;
      float: left;
      li {
        padding: 0;
        margin: 0;
        display: inline-block;
        padding: 3px 1px;
        border-radius: 10px;
        a {
          color: $primary-color-light;
          position: relative;
          margin-left: 0 !important;
        }
      }
    }
    text-align: right;
    padding: 10px 0;
    a {
      text-decoration: none;
      color: #ccc;
      margin-left: 10px;
      font-size: 14px;
      &:hover {
        color: #333;
      }
    }
  }
}


@media screen and (max-width: 600px) {
  .blog-item .blog-item-footer a{
    margin-left: 2px;
    font-size: 12px;
  }
}