.blog-item {
  background: #fff;
  border-radius: 4px;
  padding: 0 15px;
  overflow: hidden;
  margin-bottom: 15px;
  h2 {
    margin: 0;
    padding: 0;
    height: 48px;
    line-height: 48px;
    border-bottom: #ddd 1px dotted;
    a {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      color: #333;
    }
  }
  .blog-item-content {
    padding: 10px 0;
    border-bottom: #eee 1px dotted;
    height: 65px;
  }
  .blog-item-footer {
    text-align: right;
    padding: 10px 0;
    a {
      text-decoration: none;
      color: #ccc;
      margin-left: 10px;
      font-size: 14px;
      &:hover {
        color: #333;
      }
    }
  }
}
