.comment-list {
  padding: 10px 0;
  >h3 {
    font-size: 16px;
    text-align: left;
    position: relative;
    padding: 10px;
    margin: 0;
    margin-bottom: 15px;
    &::after {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      content: ' ';
      background-color: #eee;
    }
  }
}