{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "dynamic-import-webpack",
    "transform-class-properties",
    [
      "import",
      {
        "libraryName": "antd",
        "libraryDirectory": "es",
        "style": true // `style: true` 会加载 less 文件
      }
    ]
  ]
}
