.fade{
    animation:fade 4s infinite;
    -webkit-animation:fade 4s infinite;
    -moz-animation:fade 4s infinite;
    -o-animation:fade 4s infinite;
    -ms-animation:fade 4s infinite;
    animation-fill-mode:both;
}
@keyframes fade{
    0%{
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}
.blog-banner {
  // background: #fff;
  border-radius: 4px;
  // background: #fff;
  height: 220px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  .banner-list {
    width: 740px;
    height: 100%;
    border-radius: 4px;
    // background: red;
    position: relative;
    overflow: hidden;
    .banner-item {
      position: relative;
      height: 220px;
      img {
        width: 740px;
      }
      h2 {
        position: absolute;
        bottom: 15px;
        left: 0;
        width: 740px;
        vertical-align: middle;
        text-align: center;
        // background: rgba(0,0,0, .5);
        margin: 0;
        a {
          display: inline-block;
          font-size: 16px;
          margin-bottom: 10px;
          text-decoration: none;
          color: #eee;
        }
      }
    }
    .indicators {
      position: absolute;
      width: 100%;
      height: 20px;
      line-height: 20px;
      vertical-align: middle;
      left: 0;
      bottom: 0;
      text-align: center;
      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: rgba(0,0,0,.5);
        margin-right: 5px;
        cursor: pointer;
        &:last-child {
          margin-right: 0;
        }
      }
      span.active {
        background: rgba(255,255,255,.65);
        // border: rgba(255,255,255,.35) 1px solid;
      }
    }
  }
  .blog-sign {
    width: 290px;
    height: 220px;
    border-radius: 4px;
    position: relative;
    box-shadow: 1px 0 2px rgba(0, 0, 0, 0.16);
    .content {
       position: relative;
       height: 200px;
       z-index: 2;
       overflow: hidden;
       font-size: 14px;
       text-align: center;
       background: #fff;
       padding: 10px 15px;
       >p {
         text-indent: 2em;
         text-align: left;
       }
       span.book-tag{
         border-left: 60px solid whitesmoke;
         border-bottom: 60px solid #aaa;
         box-shadow: 5px 5px 1px #e9f10b;
         position: absolute;
         bottom: 0px;
         right: 0px;
       }
       .author {
         text-align: right;
         font-weight: 400;
       }
    }
    &:before, &:after {
       content: ' ';
       position: absolute;
       -webkit-transform: rotate(-3deg);
       transform: rotate(-3deg);
       bottom: 15px;
       box-shadow: 0 15px 5px rgba(0, 0, 0, 0.3);
       height: 20px;
       left: 3px;
       max-width: 300px;
       width: 40%;
    }
    &:after {
       -webkit-transform: rotate(3deg);
       transform: rotate(3deg);
       left: auto;
       right: 3px;
    }
  }
}
